test_pykaldi/
.DS_Store
code/.venv/
code/env/
code/database.db
code/sentence_tokenizer.pickle
code/lib/.save_ai.py
code/lib/.speech
code/lib/__pycache__/*
code/lib/sensors/__pycache__/*
code/lib/interpreters/__pycache__/*
code/lib/models/__pycache__/*
code/lib/actuators/__pycache__/*
code/lib/observers/__pycache__/*
code/logs/*
code/build/
code/database.db-shm
code/database.db-wal
code/lib/utilities/background.wav
code/lib/utilities/record.py
code/lib/utilities/voice.wav
code/resources/model
code/resources/keys
code/__pycache__
code/lib/utilities/__pycache__
docs/build/
code/logs
code/data
code/database.sqlite3
code/hs_err_pid7611.lo
code/resources/tests/*
code/resources/__pycache__/
