test_pykaldi/
.DS_Store
code/.venv/
code/database.db
code/sentence_tokenizer.pickle
code/lib/.save_ai.py
code/lib/.speech
code/lib/__pycache__/*
code/lib/sensors/__pycache__/*
code/lib/interpreters/__pycache__/*
code/lib/models/__pycache__/*
code/lib/actuators/__pycache__/*
code/lib/observers/__pycache__/*
code/logs/*
code/build/
